body{
    background-image: url(../ing/comida\ bem\ delicia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
 
    padding: 3%;
}

/* Classe Atribuida para a div que vai receber o logotipo */
.logo{

}

nav{

}

main{

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{

}

footer{

    padding: 3%;
}
.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;
}

.titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

p{
    line-height: 1.5;
    font-size: 1.2em;
    color: floralwhite;
}
ul li{
    line-height: 1.5;
    font-size: 1,2em;
    color: floralwhite;
}
h1{
    font-size: 2em;
    color: green
}
h2{
    font-size: 1.5em;
    color: green
}
.logo img {
    width: 35%;
    height: auto;


}
